{% extends 'layout.html' %}

{% block content %}
    <h2 align="center">สร้างโปรไฟล์ของคุณ</h2>
    {% if messages %}
        <div class="alert alert-danger" role="alert">
        
      
            {% for message in messages %}
            <b>{{message}}<b>

            {% endfor %}

        </div> 
    {% endif %}
    <form action="addForm" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="addForm">Username</label>
            <input type="text" class="form-control" name="username">

        </div>
        <div class="form-group">
            <label for="">FirstName</label>
            <input type="text" class="form-control" name="firstname">
            

        </div>
        <div class="form-group">
            <label for="">LastName</label>
            <input type="text" class="form-control" name="lastname">
            

        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" name="email">
            

        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" name="password">
            

        </div>
        <div class="form-group">
            <label for="">Re-Password</label>
            <input type="password" class="form-control" name="re-password">
            

        </div>
        <input type="submit" value="ลงทะเบียน" class="btn btn-primary"> 

    </form>
{% endblock %}